
# INSTAGRAM
INSTAGRAM_BASE_URL=https://graph.facebook.com
INSTAGRAM_API_VERSION=v24.0
INSTAGRAM_ACCESS_TOKEN=YOUR_INSTAGRAM_TOKEN_HERE
INSTAGRAM_BUSINESS_ACCOUNT_ID=YOUR_ACCOUNT_ID_HERE

# DATABASE
DATABASE_URL=postgresql+asyncpg://user:password@localhost/prosolution

# IA
OPENAI_API_KEY=YOUR_OPENAI_KEY_HERE
GEMINI_API_KEY=YOUR_GEMINI_KEY_HERE

# MERCADO PAGO
MP_ACCESS_TOKEN=YOUR_MP_ACCESS_TOKEN_HERE