# Ambiente
.env
.venv
venv/

# Python
__pycache__/
*.pyc
# Ambiente
.env
.venv
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Banco local (se quiser recriar no deploy)
*.db

# IDE
.vscode/
.idea/
*.log

# Referências
/references/

Lib/
Include/
Scripts/
.venv/
venv/
